*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading{
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
}

.table-container{
    border: 2px solid gray;
    position: relative;
    border-radius: 20px;
    background-color: antiquewhite;
    width: 95%;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 10px rgb(49, 46, 46);
}

.tableSearch input{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    color: #565656;
    padding: 5px 5px;
    height: 35px;
    width: 93%;
    box-shadow: none;
}

.formcontrol{
    margin-left: 10px;
}